.post {
    display: flex;
    padding:  10px 0;
}
.post div:first-child {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    background: url('https://images.hdqwalls.com/wallpapers/deadpool-art-4k-2018-y4.jpg');
    background-size: cover;
    margin-right: 20px;
}

.post div:last-child {
    font-size: 18px;
    color: #3b3b3b;
}